.Medications {
    &__name {
        color: #000080
    }

    &__current {
        display: flex;
        list-style: none;
        flex-direction: column;
    }

    &__interactions {
        display: flex;
        justify-content: center;
    }
}