.Header {
    background-color: #0000FF;
    color: white;

    &__title {
        margin: 0;
        padding-top: 1rem;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 1rem;
        padding-left: 0;
    }

    &__link {
        text-decoration: none;
        color: white;
    }
}